[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
jedi = "*"
django-lint = "*"
ipdb = "*"
ipython = "*"
django-debug-toolbar = "*"
sphinx = "*"

[packages]
django = "===3.0.7"
django-taggit = "*"

[requires]
python_version = "3.8"
