{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="container">

    <h1>{{question.title}}</h1>
      <div class="starter-template">
          <p>{{question.description}}</p>

          {% for tag in question.tags.all %}
          <span class="badge badge-primary">{{ tag }}</span>
          {% endfor %}
      </div>
      <hr>
      <br>
      {% if question.answer %}
          <div class="">
              <h3>Answers: </h3>
              <div class="list-group">
                  {% for answer in question.answer.all %}
                  <div class="card list-group-item">
                      <div class="card-body">
                          <blockquote class="blockquote mb-0">
                              <p> {{ answer.text }} </p>
                              <footer class="blockquote-footer">Answer by: {{answer.created_by.username}} Answer at: {{answer.created_at|date:"D, d M, Y"}}</footer>
                          </blockquote>
                      </div>
                  </div>
                  {% endfor %}
              </div>
      </div>
      {% endif %}
      <hr>
      <br>
      <div class="starter-template">
          <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
</div>

{% endblock %}
